html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
#body-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 96vw !important;
  min-height: (100vh - 5rem) !important;
}
